{% extends "my-bootstrap.html" %}
{% block title %}
{{super()}}
Library Search Engine
{% endblock %}


{% block content %}
{{super()}}
{% endblock %}
{% block footer %}
{{super()}}


<!-- <div id="footer">
  <div class="d-flex nav justify-content-between pt-4 mt-4 border-top ">
    <ul class="list-unstyled d-flex fs-3">
      <li class="ms-3"><a class="text-muted" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/pyrevworld/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    </ul>
    <p>&copy; 2021 Company, Inc. All rights reserved.</p>
    <p></p>
  </div>
</div> -->



</div>
{% endblock %}

{% block scripts %}





{{super()}}
<!--<script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>-->
<script src="{{url_for('.static', filename='js/myscript.js')}}"></script>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/mycss.css')}}">
<!--<script src="https://kit.fontawesome.com/45dfc899a2.js" crossorigin="anonymous"></script>-->
{% endblock %}
