{% extends "base.html" %}
{% block content %}
{{super()}}
<div class="page">
  <div class="topbar">
    <div class="">
      Welcome {{user.name}}
    </div>
    <div class="links">
      <a href="{{url_for('logout')}}">Logout</a>
    </div>
  </div>

  <div class="wrapper fadeInDown searchBox">
    <form>
      <h1>
        SEARCH BOOK
      </h1>
      <div class="search-form">
        <div class="fadeIn first">
          <input id="title" type="text" placeholder="Title" name="title"/>
        </div>
        <div class="fadeIn second">
          <input id="author" type="text" placeholder="Author" name="author"/>
        </div>
        <div class="fadeIn third">
          <input id="year" type="text" placeholder="2022" name="year"/>
        </div>
        <div class="fadeIn fourth">
          <input id="language" type="text" placeholder="English" name="language"/>
        </div>
        <div class="fadeIn fifth">
          <input type="button" name="" value="Search" id="search-book">
        </div>
      </div>
    </form>

  </div>
  <div class="result-wrapper result" id="result">


  </div>
</div>




{% endblock %}
