{% extends "base.html" %}
{% block content %}
{{super()}}
<div class="page">
  <div class="topbar">
    <div class="">
      Welcome {{user.name}}
    </div>
    <div class="links">
      <a href="{{url_for('logout')}}">Logout</a>
    </div>
  </div>

  <div class="search-wrapper fadeInDown searchBox m-auto">
      <h1 class="text-center w-100">
        SEARCH BOOK
      </h1>
      <div class="container-fluid">
        <div class="row">
          <div class="fadeIn first col-12 col-md-4 col-lg-2 search-box text-center">
            <select id="search-option" name="search-option" class=" search-option">
              <option value="title">Search By Title</option>
              <option value="author">Search By Author</option>
            </select>
          </div>
          <!-- <div class="fadeIn first col-12 col-md-4 col-lg search-box text-center">
            <input id="title" type="text" placeholder="Title" name="title" />
          </div> -->
          <div class="fadeIn second col-12 col-md-4 col-lg-6 search-box text-center">
            <input id="search-keyword" type="text" placeholder="Title" name="search-keyword" />
          </div>
          <div class="fadeIn third col-12 col-md-4 col-lg-2 search-box text-center">
            <input id="year" type="text" placeholder="2022" name="year" />
          </div>
          <!-- <div class="fadeIn fourth col-12 col-md-4 col-lg search-box">
            <input id="language" type="text" placeholder="English" name="language" />
          </div> -->
          <div class="fadeIn fifth col-12 col-md-4 col-lg-2 search-box text-center">
            <input type="button" name="" value="Search" id="search-book">
          </div>
        </div>

      </div>


  </div>
  <div class="result-wrapper result" id="result">


  </div>
</div>




{% endblock %}
